{% extends "base.html" %}

{% block head_title %}Restaurants | {{ block.super}}{% endblock head_title %}

{% block content %}
<h1>Restaurant List</h1>
<a href="/restaurants/create/">Create</a>
<ul>
{% for obj in object_list %}
{#    get_absolute_url can be found in the models.py#}
    <li><a href='{{ obj.get_absolute_url }}'>{{ obj }}</a><br/>
        <a href='/restaurants/{{ obj.slug }}/'>{{ obj }}</a><br/>
    {{ obj.name }} {{ obj.location }} {{ obj.category }} {{ obj.timestamp }} {{ obj.updated }}</li>
{% endfor %}
</ul>
{% endblock %}