<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block head_title %}My Friends{% endblock head_title %}</title>
    {%  include 'snippets/css.html' %}
</head>
<body>
{#    Adding in the navigation panel#}
    {% include 'snippets/nav.html' %}
    <div class="container">
{#    This is to add content here for other html files that want to extend#}
        {% block content %}
        {% endblock content %}
    </div>
    {%  include 'snippets/js.html' %}
</body>
</html>